[submodule "submodules/dicom_node"]
	path = submodules/dicom_node
	url = https://github.com/Rigshospitalet-KFNM/DicomNode
[submodule "submodules/niftyreg"]
	path = submodules/niftyreg
	url = https://git.code.sf.net/p/niftyreg/git
